body {
	text-align: center;
}

h1 {
	font-size: 45px;
	font-style: bold;
	font-family: "apple chancery";
}


input {
    padding: 5px 5px;
    margin: 6px 0;
    box-sizing: border-box;
}

input [type=button]{
	 float: center;
  	 width: 10%;

}