a {text-decoration:none;}

h2 {
    font-size: 70px;
    font-family: "Times New Roman";
    text-align: center;
    color: white;
}


body {
    background: url(wood.jpg);
}

.mainsection {
    font-size: 15px;
    text-align: center;
    font-family: "Times New Roman";
    color: white;
}


.button {
    background:-moz-linear-gradient(top, #fafafa 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #fafafa 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #fafafa 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #fafafa 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #fafafa 5%, #ffffff 100%);
    background-color:#fafafa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:"Times New Roman";
    font-size:20px;
    padding:12px 41px;
    text-decoration:none;
    margin-right: 12px;
    margin-left: 13px;
}
.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #fafafa));
    background:-moz-linear-gradient(top, #ffffff 5%, #fafafa 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #fafafa 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #fafafa 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #fafafa 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #fafafa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0);
    background-color:#ffffff;
}
.button:active {
    position:relative;
    top:1px;
}

.logo {
    position: absolute;
    top:490px;
    left: 10px;
}