<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/home2.css">
	<title>YourPortfolio</title>



</head>

<body>



<div class="navbar" id="mynavbar">
 	<a href="/home2">Home</a>
	<a href="/logout">Log Out</a>
	<a href="#help">Help</a>
	<a href="#about">About</a>
	<a href="#contactus">Contact Us</a>
</div>
<hr>

<div class="margin">

	<br>
	<h2>Your portfolios:</h2>




	<a href="/viewportfolio">
		<img src="static/view.jpg" width="150" height="130" >
	</a>

	<div class='subheading'>
		sunsets
	</div>

	<!--<a href="/makeportfolio">-->
		<img src="static/addfile.jpg" width="150" height="130">
	</a>

</div>

<div class='logo'>
	<img src="static/logo.jpg" width="250">
</div>

</body>
</html>