<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/home.css">
	<title>YourPortfolio</title>
 
</head>

<body>
<br><br><br><br><br><br><br><br><br><br>

<div class="mainsection">

	<h1>Create your own portfolios to share! Create an account or log in below.</h1>
	<br><br>
	<form>
		<input class="button" type="button" value="Sign Up" onclick="window.location.href='/signup'">
		<input class="button" type="button" value="Log In" onclick="window.location.href='/login'">
	</form>

</div>

<div class='logo'>
	<img src="static/logo.jpg" width="250">
</div>

</body>
</html>
