<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/home.css">
	<title>YourPortfolio</title>

</head>

<body>
<div class="navbar" id="mynavbar">
  <a><h1>YourPortfolio</h1></a>
  <a href="#home">Home</a>
  <a href="/login">Log in</a>
  <a href="/signup">Sign Up</a>
  <a href="#help">Help</a>
  <a href="#about">About</a>
  <a href="#contactus">Contact Us</a>
</div>


<img src="{{url_for('static', filename='yp.jpg')}}">
<br>
<img src="arrow.jpg" width="120" height="120" border="0">
<br>
<img src="{{url_for('static', filename='screenshot.jpg')}}">
  

</body>
</html>