<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/home2.css">
	<title>YourPortfolio</title>



</head>

<body>
<div class="navbar" id="mynavbar">
  <a><h1>YourPortfolio</h1></a>
  <a href="#home">Home</a>
  <a href="templates/home.html">Log Out</a>
  <a href="#help">Help</a>
  <a href="#about">About</a>
  <a href="#contactus">Contact Us</a>
</div>

<h2>Your portfolios:</h2>

<p>
<br>
<a href="templates/makeportfolio.html">
<img src="static/plus.jpg" width="100" height="100" border="0">
</a>
</p>

</body>
</html>