<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="home.css">
	<title>YourPortfolio</title>


  <script type="text/javascript">

    $("#slideshow > div:gt(0)").hide();

setInterval(function() { 
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
},  3000); 
</script>


</head>
<body>
<div class="navbar" id="mynavbar">
  <a><h1>YourPortfolio</h1></a>
  <a href="#home">Home</a>
  <a href="#login">Log in</a>
  <a href="#signup">Sign Up</a>
  <a href="#help">Help</a>
  <a href="#about">About</a>
  <a href="#contactus">Contact Us</a>
</div>


<div id="slideshow">
   <div>
     <img src="{{url_for('static', filename='yp.jpg')}}">
   </div>
   <div>
     <img src="{{url_for('static', filename='yp.jpg')}}">
   </div>
</div>

</body>
</html>