<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/login.css">
	<title>Log In</title>
	<br><br><br><br>
	<h1>Log In</h1> 
</head>
<body>



<form method='POST' action='/login'>
	<div class="container">
		<b>Username </b><br><input type="text" placeholder="Enter Username" name="username"/><br>
		<b>Password </b><br><input type="password" placeholder="Enter Password" name="password"/><br>
 	<label>
    	<input type="checkbox" checked="none" style="margin-bottom:15px"> Remember me 
 	</label>
 	<br>
	<input class="button" type="submit" value="Submit"/>
	<a href="/logout">
		<input class="button" type="reset" value="Cancel">
	</a>
</form>


{% if log_in==False %}
<script type="text/javascript">
	alert('Incorrect username or password.')
</script>
</div>
{% endif %}


</body>
</html>