<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/login.css">
	<title>Log In</title>
</head>
<body>
<br><br><br><br>

<h1>Log In</h1> 

<form method='POST' action='/login'>
<b>Username </b><br><input type="text" placeholder="Enter Username" name="username"/><br><br>
<b>Password </b><br><input type="password" placeholder="Enter Password" name="passwrd"/><br><br>
 <label>
      <input type="checkbox" checked="checked" style="margin-bottom:15px"> Remember me 
 </label>
 <br>
<input type="button" value="Submit"/>
<input type="reset" value="Cancel"/>
</form>



</body>
</html>