<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/signup.css">
	<title>YourPortfolio - Sign Up</title>
  <br><h1>Sign Up</h1>
</head>
<body>


<form method= 'POST' action="/signup">
  <div class="container">
    <p>To create an account, fill in the required fields below.</p>
    <label><b>Username</b><br></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br>
    <label><b>Password</b><br></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br>
    <label><b>Repeat Password</b><br></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

   

    <p><a href="#" style="color:dodgerblue">Terms & Privacy</a></p>

    <div class="clearfix">
      <button type="submit" class="button">Sign Up</button>
      <button type="button" class="button" onclick="window.location.href='/'">Cancel</button>
      
    </div>
  </div>
</form>

<div class='logo'>
  <img src="static/logo.jpg" width="250">
</div>

</body>
</html>