<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/signup.css">
	<title>Sign Up</title>
</head>
<body>
<br><br>
<form method = 'POST' action="/signup">
  <div class="container">
    <h1>Sign Up</h1>
    <p>To create an account, fill in the required fields below.</p>
    <hr>

    <label><b>Username</b><br></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <br>
    <label><b>Password</b><br></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br>
    <label><b>Repeat Password</b><br></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

   

    <p><a href="#" style="color:dodgerblue">Terms & Privacy</a>		</p>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
      <button type="button" class="cancelbtn">Cancel</button>
      
    </div>
  </div>
</form>

</body>
</html>