<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/viewportfolio.css">
	<title>View Portfolio</title>
</head>
<body>

<div style="float: left; width: 300px;">
	<a href="/viewphoto">
		<img src="static/sunset1.jpg" width="350" height="230">
	</a>
</div>


<div style="float: left; width: 300px;">
	<a href="/viewphoto">
		<img src="static/sunset2.jpg" width="350" height="230">
	</a>
</div>

<div style="float: right; width: 300px;">
	<a href="/viewphoto">
		<img src="static/sunset3.jpg" width="350" height="230">
	</a>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<div style="float: left; width: 300px;">
	<a href="/viewphoto">
		<img src="static/sunset4.jpg" width="350" height="230">
	</a>
</div>

<div style="float: left; width: 300px;">
	<a href="/viewphoto">
		<img src="static/sunset5.jpg" width="350" height="230">
	</a>
</div>

</body>


</html>