<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/viewportfolio.css">
	<title>View Portfolio</title>
</head>
<body>

<div class="navbar" id="mynavbar">
 	<a href="/home2">Home</a>
	<a href="/logout">Log Out</a>
	<a href="#help">Help</a>
	<a href="#about">About</a>
	<a href="#contactus">Contact Us</a>
</div>
<hr>


<div class='picture' id="first">
	<!--<a href="/viewphoto">-->
		<img src="static/sunset1.jpg" width="350" height="230">
	</a>
</div>
<div class='subheading' id="subheading1">sunset1.jpg</div>


<div class='picture' id="second">
	<!--<a href="/viewphoto">-->
		<img src="static/sunset2.jpg" width="350" height="230">
	</a>
</div>
<div class='subheading' id="subheading2">sunset2.jpg</div>


<div class='picture' id="third">
	<!--<a href="/viewphoto">-->
		<img src="static/sunset3.jpg" width="350" height="230">
	</a>
</div>
<div class='subheading' id="subheading3">sunset3.jpg</div>


<div class='picture' id="fourth">
	<!--<a href="/viewphoto">-->
		<img src="static/sunset4.jpg" width="360" height="230">
	</a>
</div>
<div class='subheading' id="subheading4">sunset4.jpg</div>


<div class='picture' id="fifth">
	<!--<a href="/viewphoto">-->
		<img src="static/sunset5.jpg" width="350" height="230">
	</a>
</div>
<div class='subheading' id="subheading5">sunset5.jpg</div>

</body>


</html>